.product-card {
  background-color: #ccc;
  aspect-ratio: 2/3;
  width: 250px;
  border-radius: 5%;
  box-shadow: 2px 2px 5px rgba(162, 162, 162, 0.8);
  transition: transform 0.3s ease;
}

.product-card__edit {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 9999999px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  background-image: url(../../assets/images/edit.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product-card__edit:hover {
  transform: scale(1.2);
}

.product-card__remove {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 9999999px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}

.product-card__remove:hover {
  transform: scale(1.2);
}

.product-card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.product-card__image-container {
  position: relative;
  height: fit-content;
}

.product-card__image {
  max-width: 100%;
  height: auto;
  aspect-ratio: 4/5;
  object-fit: cover;
}

.product-card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
  position: relative;
}

.product-card__name {
  overflow: hidden;
  text-wrap: nowrap;
  font-size: 14px;
  font-weight: 500;
}

.product-card__description {
  font-size: 14px;
}

.product-card__brand {
  height: 18px;
  position: absolute;
  display: flex;
  align-items: center;
  width: max-content;
  text-wrap: nowrap;
  aspect-ratio: 1/1;
  left: 0;
  bottom: 10px;
}

.product-card__brand > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.product-card__brand > figcaption {
  color: #000;
  font-weight: 500;
}

.product-card__undo {
  position: absolute;
  right: 5px;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 9999999px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  background-image: url(../../assets/images/undo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product-card__undo:hover {
  transform: scale(1.2);
}

.product-card__save {
  position: absolute;
  right: 35px;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 9999999px;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
  background-image: url(../../assets/images/save.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.product-card__save:hover {
  transform: scale(1.2);
}
